/*.suo
/QuartzNetJobs/bin
/QuartzNetDemo.WindowsService/bin
/QuartzNetDemo/bin
/QuartzNetJobs/obj
/QuartzNetDemo.WindowsService/obj
/QuartzNetDemo/obj
/QuartzNetDemo.WindowsService/*.user
/QuartzJobs/obj
/QuartzDemo.WindowsService/obj
/QuartzDemo/obj
/QuartzJobs/bin
/QuartzDemo.WindowsService/bin
/QuartzDemo/bin
/.vs
